extends base
block vars
  - var title = 'WriteOn - Create your free account'
  - var description = 'Create your free WriteOn account.'
  - var bodytag = 'register'

block body
  div.navbar.navbar-default.navbar-fixed
    div.navbar-inner
      div.nav.pull-left.nav-left(style='width: 100px;')
        a.scrollToSlide1(href='/', title='Home')
          img(src='/res-min/img/logo.svg')
      div.nav.pull-right.nav-right
        a.btn.btn-default.file-title-navbar(href='/', title='Login')
          i.icon-login
          | Login

  .container.custom-container
    .va-wrapper
      .view.login-view.container
        .box.row
          if app.get('stormpathEnableFacebook') || app.get('stormpathEnableGoogle')
            - var cls = 'small col-sm-8'
          else
            - var cls = 'large col-sm-12'

          div(class='email-password-area col-xs-12 #{cls}')
            .header
              span Create Your Free Account

            if error
              .alert.alert-danger
                p #{error}

            if formErrors
              .alert.alert-danger
                each error in formErrors
                  p #{error.error}

            form.registration-form.form-horizontal.sp-form(method='post', role='form', name='RegisterForm')
              input(name='_csrf', type='hidden', value=csrfToken)

              .form-group.group-email(form-group='true')
                label.col-sm-4 Email
                .col-sm-8
                  - var value = form.data ? form.data.email : '';
                  input.form-control(placeholder='Email', name='email', value=value, required='true', type='text')

              if app.get('stormpathEnableUsername')
                .form-group.group-username(form-group='true')
                  label.col-sm-4 Username
                  .col-sm-8
                    - var value = form.data ? form.data.username : '';
                    input.form-control(placeholder='Username', name='username', value=value, required=app.get('stormpathRequireUsername') ? true : false, type='text')

              if app.get('stormpathEnableGivenName')
                .form-group.group-first-name(form-group='true')
                  label.col-sm-4 First Name
                  .col-sm-8
                    - var value = form.data ? form.data.givenName : '';
                    input.form-control(placeholder='First Name', name='givenName', value=value, required=app.get('stormpathRequireGivenName') ? true : false, type='text')

              if app.get('stormpathEnableMiddleName')
                .form-group.group-middle-name(form-group='true')
                  label.col-sm-4 Middle Name
                  .col-sm-8
                    - var value = form.data ? form.data.middleName : '';
                    input.form-control(placeholder='Middle Name', name='middleName', value=value, required=app.get('stormpathRequireMiddleName') ? true : false, type='text')

              if app.get('stormpathEnableSurname')
                .form-group.group-last-name(form-group='true')
                  label.col-sm-4 Last Name
                  .col-sm-8
                    - var value = form.data ? form.data.surname : '';
                    input.form-control(placeholder='Last Name', name='surname', value=value, required=app.get('stormpathRequireSurname') ? true : false, type='text')

              .form-group.group-password(form-group='true')
                label.col-sm-4 Password
                .col-sm-8
                  input.form-control(placeholder='Password', name='password', required='true', type='password')
              div
                button.btn.btn-register.btn-primary(type='submit') Create Account
          
          if app.get('stormpathEnableFacebook') || app.get('stormpathEnableGoogle')
            .social-area.col-xs-12.col-sm-4
              .header &nbsp;
              label Easy 1-Click Registration:
              if app.get('stormpathEnableFacebook')
                include facebook_register_form.jade
              if app.get('stormpathEnableGoogle')
                include google_register_form.jade

        a.to-login(href=app.get('stormpathLoginUrl')) 
          i.icon-login
          | Back to Log In